In [78]:
from bs4 import BeautifulSoup

import requests
import pandas as pd

In [102]:
endpoint = 'https://jobs.blognone.com/search'

In [96]:
def parse_data(content):
    soup = BeautifulSoup(content, 'html.parser')
    items = []
    for row in soup.select('a[href*=/company]'):
        
        try:
            job_title = row.select('.css-12vb8u4 span')[0].text
            level = row.select('h4.text-muted')[0].text
            company_name = row.select('img.img-fluid')[0].attrs['alt'].replace('โลโก้บริษัท ', '')
            salary = row.select('span.text-success.css-1msjh1x span')
            salary_min = salary[1].text.replace(',', '')
            salary_max = salary[2].text.replace(',', '')
            location = row.select('span.text-muted')[0].text
            tags = [r.text for r in row.select('span.badge.mr-1.css-zf49go')]

            items.append({
                'job_title': job_title,
                'level':level ,
                'company_name': company_name,
                'salary_min': salary_min,
                'salary_max': salary_max,
                'location': location,
                'tags': ','.join(tags)
            })
            """
            print(job_title, level, company_name)
            print(salary_min, salary_max, location)
            print(','.join(tags))
            """
        except IndexError:
            continue
            
    return items

In [106]:
all_items = []
for i in range(1, 50):
    url = f"{endpoint}?page={i}"
    print(url)
    r = requests.get(url)
    items = parse_data(r.content)
    if len(items) == 0:
        break
        
    all_items += items

https://jobs.blognone.com/search?page=1
https://jobs.blognone.com/search?page=2
https://jobs.blognone.com/search?page=3
https://jobs.blognone.com/search?page=4
https://jobs.blognone.com/search?page=5
https://jobs.blognone.com/search?page=6
https://jobs.blognone.com/search?page=7
https://jobs.blognone.com/search?page=8
https://jobs.blognone.com/search?page=9
https://jobs.blognone.com/search?page=10
https://jobs.blognone.com/search?page=11
https://jobs.blognone.com/search?page=12
https://jobs.blognone.com/search?page=13
https://jobs.blognone.com/search?page=14
https://jobs.blognone.com/search?page=15
https://jobs.blognone.com/search?page=16
https://jobs.blognone.com/search?page=17
https://jobs.blognone.com/search?page=18
https://jobs.blognone.com/search?page=19
https://jobs.blognone.com/search?page=20
https://jobs.blognone.com/search?page=21
https://jobs.blognone.com/search?page=22
https://jobs.blognone.com/search?page=23
https://jobs.blognone.com/search?page=24
https://jobs.blognone.com/search?page=25
https://jobs.blognone.com/search?page=26
https://jobs.blognone.com/search?page=27
https://jobs.blognone.com/search?page=28
https://jobs.blognone.com/search?page=29
https://jobs.blognone.com/search?page=30
https://jobs.blognone.com/search?page=31
https://jobs.blognone.com/search?page=32
https://jobs.blognone.com/search?page=33
https://jobs.blognone.com/search?page=34
https://jobs.blognone.com/search?page=35

In [107]:
len(all_items)

452

In [108]:
df = pd.DataFrame(all_items)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 7 columns):
company_name    452 non-null category
job_title       452 non-null object
level           452 non-null object
location        452 non-null object
salary_max      452 non-null int64
salary_min      452 non-null int64
tags            452 non-null object
dtypes: category(1), int64(2), object(4)
memory usage: 28.6+ KB

In [112]:
df['company_name'] = pd.Categorical(df['company_name'])
df['salary_min'] = df['salary_min'].astype(int)
df['salary_max'] = df['salary_max'].astype(int)

In [117]:
df.to_csv('data.csv')

In [114]:
df.describe()

          salary_max     salary_min
count     452.000000     452.000000
mean    59402.851770   31261.039823
std     38612.760179   17536.064829
min      1000.000000    1000.000000
25%     40000.000000   20000.000000
50%     50000.000000   25000.000000
75%     70000.000000   35000.000000
max    500000.000000  127000.000000

In [116]:
df.head()

,company_name,job_title,level,location,salary_max,salary_min,tags
0,"Data Wow Co.,Ltd","Full-stack Developer - Ruby on Rails, ReactJS","Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,150000,50000,"#aws,#mongodb,#react,#rspec,#ruby-on-rails"
1,"Finnomena.Co.,Ltd.",Full Stack Developer,"Entry-Level, Full time",- บางรัก กรุงเทพมหานคร,55000,45000,"#css3,#golang,#html,#javascript,#sql"
2,ViaBus,Android Developer,"Entry-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,50000,25000,"#android,#java,#kotlin"
3,ViaBus,iOS Developer,"Entry-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,50000,25000,"#ios,#objective-c,#swift"
4,ViaBus,Full Stack Engineer,"Entry-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,50000,25000,"#javascript,#php,#vuejs,#web-development"

In [115]:
df.sort_values('salary_max', ascending=False)

,company_name,job_title,level,location,salary_max,salary_min,tags
385,Gummy Bear Tech Recruitment,Junior Python Developer (Max 50k),"Entry-Level, Full time",- ดินแดง กรุงเทพมหานคร,500000,30000,#python
96,Nanameue Inc.,"Frontend Developer - React.js (Tokyo, Japan)","Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,250000,80000,"#css,#html,#javascript,#react,#reactjs"
95,Nanameue Inc.,"Ruby-on-Rails Developer (Tokyo, Japan)","Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,250000,80000,"#aws,#mysql,#postgresql,#redis,#ruby-on-rails"
94,Nanameue Inc.,"iOS / Android Mobile Developer (Tokyo, Japan)","Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,250000,80000,"#android,#git,#ios,#kotlin,#swift"
272,Gummy Bear Tech Recruitment,Senior Developer (Max 200k),"Senior-Level, Full time",- สาทร กรุงเทพมหานคร,200000,100000,"#algorithm,#blockchain,#data,#javascript,#python"
130,"Data Wow Co.,Ltd",Data Engineer / Scientist - Deep Learning,"Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,180000,40000,"#aws,#data-science,#machine-learning,#mongodb,..."
313,Getlinks (On behalf of our partners),Senior Android Engineer,"Entry-Level, Full time",- คันนายาว กรุงเทพมหานคร,160000,110000,"#java,#kotlin,#oop,#restful,#unittest"
124,"Data Wow Co.,Ltd","Full-stack Developer - Ruby on Rails, ReactJS","Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,150000,50000,"#aws,#mongodb,#react,#rspec,#ruby-on-rails"
331,Nimble,Senior Web Developer,"Senior-Level, Full time",- คลองเตย กรุงเทพมหานคร,150000,80000,"#go,#javascript,#ruby"
332,Nimble,Senior iOS Developer,"Senior-Level, Full time",- คลองเตย กรุงเทพมหานคร,150000,80000,"#ios,#objective-c,#swift"
0,"Data Wow Co.,Ltd","Full-stack Developer - Ruby on Rails, ReactJS","Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,150000,50000,"#aws,#mongodb,#react,#rspec,#ruby-on-rails"
374,SCB10X,Data Scientist,"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,149999,49999,"#machine-learning,#pyspark,#python,#sql,#tenso..."
6,Oozou,Javascript Developer – alert('apply now!');,"Senior-Level, Full time",- วัฒนา กรุงเทพมหานคร,130000,50000,"#javascript,#nodejs,#react,#reactjs,#redux"
5,Oozou,Android Developer,"Senior-Level, Full time",- วัฒนา กรุงเทพมหานคร,130000,50000,"#android,#java,#kotlin"
177,United Nations Bangkok,React Native developer (Bangkok),"Middle-Level, Contract",- กรุงเทพมหานคร,127001,127000,#react-native
141,"30 SecondsToFly Co., Ltd.",Senior NLP Developer,"Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,125000,100000,"#chatbot,#docker,#nlp,#postgresql,#tdd"
139,"30 SecondsToFly Co., Ltd.",Senior Data Scientist,"Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,125000,100000,"#data-science,#machine-learning,#postgresql,#p..."
239,Eventpop,Mobile Developer,"Middle-Level, Full time",- วัฒนา กรุงเทพมหานคร,120000,40000,"#android,#application,#ios,#kotlin,#swift"
354,"Flipay Co., Ltd.",Senior Software Engineer,"Senior-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,120000,60000,"#backend,#cryptocurrency,#elixir,#functional,#..."
80,MyWorkpapers,Senior Full Stack Developers,"Senior-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,120000,90000,"#angular,#c-sharp,#dotnet,#entityframework,#ja..."
403,Tourkrub,Senior Software Developer,"Senior-Level, Full time",- วัฒนา กรุงเทพมหานคร,120000,50000,"#devops,#infra,#systemdesign,#web-design,#web-..."
379,Carro (Thailand) Company Limited,Engineering Manager (Web Application),"Senior-Level, Full time",- จตุจักร กรุงเทพมหานคร,120000,60000,"#aws,#cloud,#javascript,#php"
128,"Data Wow Co.,Ltd",iOS / Android Mobile Developer,"Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,120000,50000,"#android,#git,#ios,#kotlin,#swift"
238,Eventpop,Web Developer,"Middle-Level, Full time",- วัฒนา กรุงเทพมหานคร,120000,40000,"#agile,#automatedtest,#aws,#reactjs,#ruby-on-r..."
287,Credit OK,Senior Credit Risk Analyst,"Senior-Level, Full time",- จตุจักร กรุงเทพมหานคร,120000,80000,"#python,#r,#sas,#spss,#sql"
136,"30 SecondsToFly Co., Ltd.",Product Owner,"Entry-Level, Full time",- พระโขนง กรุงเทพมหานคร,110000,85000,"#analytics,#product-design,#project-management"
329,Getlinks (On behalf of our partners),Data Scientist,"Middle-Level, Full time",- คันนายาว กรุงเทพมหานคร,100000,80000,"#python,#r,#sql"
234,BKKSOFTWARE,Full stack developer,"Senior-Level, Freelance",- ลาดพร้าว กรุงเทพมหานคร,100000,30000,"#css,#html5,#javascript,#laravel,#php"
88,Codemate Ltd.,React Developer,"Entry-Level, Full time",- ห้วยขวาง กรุงเทพมหานคร,100000,40000,#react
186,IWA,Full-Stack Developer,"Senior-Level, Full time",- เมืองขอนแก่น ขอนแก่น,100000,45000,"#angularjs,#css,#html,#react,#ruby-on-rails"
...,...,...,...,...,...,...,...
436,"EWIT Co.,ltd.",Copywriter & Content Editor,"Middle-Level, Full time",- บางรัก กรุงเทพมหานคร,28000,20000,
435,"EWIT Co.,ltd.",Web Developer,"Entry-Level, Full time",- บางรัก กรุงเทพมหานคร,28000,20000,
131,Impressius,Product Development Engineer,"Entry-Level, Full time",- พระโขนง กรุงเทพมหานคร,26000,20000,#solidworks
188,Dot Matter,Front-end Developer,"Entry-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,25000,20000,
118,Jelly.in.th,Content Writer & Editor - Beauty & Lifestyle,"Entry-Level, Full time",- พระโขนง กรุงเทพมหานคร,25000,12000,"#content,#contentmarketing,#marketing,#social-..."
146,Backyard,Software Tester,"Entry-Level, Full time",- สาทร กรุงเทพมหานคร,25000,20000,"#analytic,#businessdevelopment,#problem-solvin..."
115,"ReadyPlanet Co., Ltd.","Software Developer (VueJS, NodesJS, PHP)","Entry-Level, Full time",- ดินแดง กรุงเทพมหานคร,25000,20000,"#mysql,#nodejs,#php,#responsivedesign,#vuejs"
337,System Stone,Full Stack Developer จำนวน 4 อัตรา,"Entry-Level, Full time",- กรุงเทพมหานคร,24000,20000,
326,"M.B. System Automation Co., Ltd.",Developer,"Entry-Level, Full time",- วังทองหลาง กรุงเทพมหานคร,22000,22000,"#asp.net,#javascript,#php,#sql-server,#web-ser..."
441,"M.B. System Automation Co., Ltd.",Developer,"Entry-Level, Full time",- ลาดพร้าว กรุงเทพมหานคร,22000,22000,"#asp.net,#javascript,#php,#sql-server,#web-ser..."
261,"M.B. System Automation Co., Ltd.",Developer,"Entry-Level, Full time",- วังทองหลาง กรุงเทพมหานคร,22000,22000,"#asp.net,#javascript,#php,#sql-server,#web-ser..."
373,"Nippon Sysits Co.,Ltd.",Programmer รับ 5 คน (Urgent),"Entry-Level, Full time",- สาทร กรุงเทพมหานคร,20000,15000,
203,Laconic Technology Company Limited,Implement and Programmer ERP System,"Entry-Level, Full time",- กรุงเทพมหานคร,20000,17000,
378,"Thai Vietjet Air Joint Stock Co.,Ltd.",IT Support (Junior),"Entry-Level, Full time",- บางพลี สมุทรปราการ,20000,18000,"#network,#support,#windows"
256,"Ek-karaj Computer Co.,ltd.",ช่างคอมพิวเตอร์ ประกอบ ลงโปรแกรม,"Entry-Level, Full time",- บางนา กรุงเทพมหานคร,20000,12000,
377,"Thai Vietjet Air Joint Stock Co.,Ltd.",Network Engineer (Junior),"Entry-Level, Full time",- บางพลี สมุทรปราการ,20000,18000,"#cisco,#cloud-engineer,#network"
414,"LAMUNPUN IT Co., Ltd.",IT Support/Tester,"Entry-Level, Full time",- สะพานสูง กรุงเทพมหานคร,20000,15000,"#microsoftoffice,#photoshop"
218,Indigy Company Limited,IT Support,"Entry-Level, Full time",- คลองเตย กรุงเทพมหานคร,18000,15000,#support
225,"Nippon Sysits Co.,Ltd.",IT Support (Urgent),"Entry-Level, Full time",- ปทุมวัน กรุงเทพมหานคร,18000,15000,
361,sakka rin,ดูแลเว็ป,"Entry-Level, Part time",- จตุจักร กรุงเทพมหานคร,15000,12000,#php
397,Stamp Application,นักศึกษาฝึกงาน (2 ตำแหน่ง),"Entry-Level, Full time",- บางรัก กรุงเทพมหานคร,3000,1000,"#html,#php,#react,#react-native"
376,"Thai Vietjet Air Joint Stock Co.,Ltd.",นักศึกษาฝึกงาน (IT Support),"Entry-Level, Internship",- บางพลี สมุทรปราการ,1100,1000,
289,"BRID Systems Co., Ltd.",Java Programmer(Entry Level),"Middle-Level, Full time",- พญาไท กรุงเทพมหานคร,1000,1000,"#developer,#intellij,#java,#postgresql,#progra..."
288,"BRID Systems Co., Ltd.",Java Programmer(Senior Level),"Senior-Level, Full time",- พญาไท กรุงเทพมหานคร,1000,1000,"#developer,#intellij,#java,#postgresql,#progra..."
290,"BRID Systems Co., Ltd.",Java Programmer(Middle Level),"Entry-Level, Full time",- พญาไท กรุงเทพมหานคร,1000,1000,"#developer,#intellij,#java,#postgresql,#progra..."
347,Siam Commercial Bank Public Company Limited,Technology- Java Developer,"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,1000,1000,"#ejb,#hibernate,#j2ee,#java"
386,Siam Commercial Bank Public Company Limited,Technology - Business Analyst (Payment Hub),"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,1000,1000,#opf
229,TGS Enterprise Network Limited,Programmer Internship (โปรแกรมเมอร์),"Entry-Level, Internship",- บางกะปิ กรุงเทพมหานคร,1000,1000,"#html,#javascript,#nodejs,#php,#webapp"
77,"Wild Sky Media Co., Ltd.",Student Intern 2019 / ฝึกงานไอที-โปรแกรมเมอร์,"Entry-Level, Internship",- สาทร กรุงเทพมหานคร,1000,1000,"#java,#php,#python,#react"
387,Siam Commercial Bank Public Company Limited,SCB Digital Banking 3 Positions Opening!,"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,1000,1000,"#automation,#espresso,#java,#kotlin,#springboot"

In [124]:
df[df.tags.str.contains('python')].sort_values('salary_min', ascending=False)

,company_name,job_title,level,location,salary_max,salary_min,tags
272,Gummy Bear Tech Recruitment,Senior Developer (Max 200k),"Senior-Level, Full time",- สาทร กรุงเทพมหานคร,200000,100000,"#algorithm,#blockchain,#data,#javascript,#python"
139,"30 SecondsToFly Co., Ltd.",Senior Data Scientist,"Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,125000,100000,"#data-science,#machine-learning,#postgresql,#p..."
287,Credit OK,Senior Credit Risk Analyst,"Senior-Level, Full time",- จตุจักร กรุงเทพมหานคร,120000,80000,"#python,#r,#sas,#spss,#sql"
329,Getlinks (On behalf of our partners),Data Scientist,"Middle-Level, Full time",- คันนายาว กรุงเทพมหานคร,100000,80000,"#python,#r,#sql"
320,Getlinks (On behalf of our partners),Senior Backend Engineer,"Entry-Level, Full time",- ทวีวัฒนา กรุงเทพมหานคร,100000,70000,"#golang,#nodejs,#php,#python,#restful"
437,Getlinks (On behalf of our partners),Full Stack Engineer (Remote work),"Senior-Level, Full time",- คลองเตย กรุงเทพมหานคร,100000,55000,"#django,#flask,#javascript,#mysql,#python"
196,KING POWER INTERNATIONAL GROUP,Data Analyst (Python),"Middle-Level, Full time",- พญาไท กรุงเทพมหานคร,65000,55000,"#analytic,#data-science,#python"
374,SCB10X,Data Scientist,"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,149999,49999,"#machine-learning,#pyspark,#python,#sql,#tenso..."
228,Say Digital Company,Senior Python Developer,"Senior-Level, Full time",- พระโขนง กรุงเทพมหานคร,60000,45000,"#agile,#django,#nosql,#python,#sql"
130,"Data Wow Co.,Ltd",Data Engineer / Scientist - Deep Learning,"Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,180000,40000,"#aws,#data-science,#machine-learning,#mongodb,..."
126,"Data Wow Co.,Ltd",Full-stack Python Developer,"Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,100000,30000,"#deeplearning,#machine-learning,#mongodb,#mysq..."
137,"30 SecondsToFly Co., Ltd.",Junior Python Developer,"Middle-Level, Full time",- พระโขนง กรุงเทพมหานคร,50000,30000,"#chatbot,#flask,#postgresql,#python,#unittest"
385,Gummy Bear Tech Recruitment,Junior Python Developer (Max 50k),"Entry-Level, Full time",- ดินแดง กรุงเทพมหานคร,500000,30000,#python
412,"LAMUNPUN IT Co., Ltd.",Full Stack Web Developer,"Entry-Level, Full time",- สะพานสูง กรุงเทพมหานคร,40000,25000,"#aws,#gcp,#k8s,#python,#vuejs"
47,WISESIGHT HQ (Thailand),Software Engineering (New grads),"Entry-Level, Full time",- จตุจักร กรุงเทพมหานคร,45000,25000,"#javascript,#mongodb,#mysql,#php,#python"
30,Taamkru Ltd.,Software Engineer,"Middle-Level, Full time",- วัฒนา กรุงเทพมหานคร,40000,24000,"#javascript,#mysql,#python,#react,#react-native"
448,Taamkru Ltd.,Software Engineer,"Middle-Level, Full time",- วัฒนา กรุงเทพมหานคร,40000,24000,"#javascript,#mysql,#python,#react,#react-native"
392,officemate,"Senior Programmer, Programmer","Entry-Level, Full time",- บางกะปิ กรุงเทพมหานคร,45000,22000,"#c-sharp,#java,#python,#vb.net"
89,Backyard,Junior Back-End Engineer,"Entry-Level, Full time",- สาทร กรุงเทพมหานคร,30000,20000,"#flask,#html,#python"
416,"FlowAccount Co., Ltd.",Software Tester / QA Engineer (Urgent!!),"Middle-Level, Full time",- บางรัก กรุงเทพมหานคร,50000,20000,"#automatedtest,#php,#python,#ruby,#test-case"
442,Backyard,Junior Back-End Engineer,"Entry-Level, Full time",- สาทร กรุงเทพมหานคร,30000,20000,"#flask,#html,#python"
167,Morphosis Apps Co. Ltd.,Back End Developer,"Middle-Level, Full time",- บางรัก กรุงเทพมหานคร,60000,10000,"#nodejs,#oop,#php,#python,#ruby"
77,"Wild Sky Media Co., Ltd.",Student Intern 2019 / ฝึกงานไอที-โปรแกรมเมอร์,"Entry-Level, Internship",- สาทร กรุงเทพมหานคร,1000,1000,"#java,#php,#python,#react"